@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-blue text-white
}

section {
  @apply my-44
}

.bg-text {
  @apply text-center text-50-screen sm:text-20-screen uppercase font-bold whitespace-nowrap transform -translate-x-32;
  line-height: 1em;
  -webkit-text-fill-color: theme('colors.blue.DEFAULT');
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: theme('colors.yellow.DEFAULT');
}

.bg-text--dense {
  @apply text-50-screen sm:text-14-screen lg:text-10-screen !important;
}

.title {
  @apply text-5xl font-semibold uppercase inline-block;
}

.title-sm {
  @apply text-3xl uppercase font-semibold tracking-wider
}

a {
  @apply ease-in-out transition-all duration-300 hover:text-yellow hover:border-yellow;
}
a.nuxt-link-exact-active {
  @apply text-yellow border-yellow;
}

